.insta
  .container
    .insta__row
      .insta__icon
        i.icon.instagram-icon
      h3.insta__title Instagram
      .swiper-nav.swiper-navigation
        .swiper-button-prev
        .swiper-button-next
    .swiper-container.swiper.swiper-insta
      .swiper-wrapper
        .swiper-slide
          .insta__item
            img.insta__img(src='assets/images/instagram/insta-img-01.jpg')

        .swiper-slide
          .insta__item
            img.insta__img(src='assets/images/instagram/insta-img-02.jpg')

        .swiper-slide
          .insta__item
            img.insta__img(src='assets/images/instagram/insta-img-03.jpg')

        .swiper-slide
          .insta__item
            img.insta__img(src='assets/images/instagram/insta-img-04.jpg')

      .swiper-pagination
