.articles
  .container
    .articles-list
      .article
        .article__img-cont
          img.article__img(src='assets/images/articles/article-01.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Абрамитес мраморный (Abramites hypselonotus)
          .article__p-cont
            p.article__p Абрамитес мраморный родом из Южной Америки, где он встречается в бассейнах рек
          a.article__read-more Читать

      .article
        .article__img-cont
          img.article__img(src='assets/images/articles/article-02.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Ризоклониум, Кладофора, Спирогира
          .article__p-cont
            p.article__p В этой статье поговорим о водорослях, которые относятся к роду «нитчатых»
          a.article__read-more Читать

      .article.article--large
        .article__img-cont
          img.article__img(src='assets/images/articles/article-03.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Болезни аквариумных <br>рыб не обусловленные возбудителями
          .article__p-cont
            p.article__p Химического происхождения – Заболевания химического происхождения это всевозможные отравления. <br><br>Окружающая среда-например, отравление, в том числе отравление аммиаком, нитритами, нитратами, хлором или хлорамином, избыточным количеством углекислого газа
          a.article__read-more Читать

      .article.article--large
        .article__img-cont
          img.article__img(src='assets/images/articles/article-03.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Болезни аквариумных <br>рыб не обусловленные возбудителями
          .article__p-cont
            p.article__p Химического происхождения – Заболевания химического происхождения это всевозможные отравления. <br><br>Окружающая среда-например, отравление, в том числе отравление аммиаком, нитритами, нитратами, хлором или хлорамином, избыточным количеством углекислого газа
          a.article__read-more Читать

      .article
        .article__img-cont
          img.article__img(src='assets/images/articles/article-04.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Ацидоз (слишком низкий показатель pH)
          .article__p-cont
            p.article__p Абрамитес мраморный родом из Южной Америки, где он встречается в бассейнах рек
          a.article__read-more Читать

      .article
        .article__img-cont
          img.article__img(src='assets/images/articles/article-05.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Ацидоз (слишком низкий показатель pH)
          .article__p-cont
            p.article__p Абрамитес мраморный родом из Южной Америки, где он встречается в бассейнах рек
          a.article__read-more Читать

      .article
        .article__img-cont
          img.article__img(src='assets/images/articles/article-01.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Абрамитес мраморный (Abramites hypselonotus)
          .article__p-cont
            p.article__p Абрамитес мраморный родом из Южной Америки, где он встречается в бассейнах рек
          a.article__read-more Читать

      .article
        .article__img-cont
          img.article__img(src='assets/images/articles/article-02.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Ризоклониум, Кладофора, Спирогира
          .article__p-cont
            p.article__p В этой статье поговорим о водорослях, которые относятся к роду «нитчатых»
          a.article__read-more Читать

      .article.article--large
        .article__img-cont
          img.article__img(src='assets/images/articles/article-03.jpg')
          .article__date
            span.article__date-text 12.03.2019
        .article__desc-cont
          span.article__title Болезни аквариумных <br>рыб не обусловленные возбудителями
          .article__p-cont
            p.article__p Химического происхождения – Заболевания химического происхождения это всевозможные отравления. <br><br>Окружающая среда-например, отравление, в том числе отравление аммиаком, нитритами, нитратами, хлором или хлорамином, избыточным количеством углекислого газа
          a.article__read-more Читать

  .btn.load-more-btn.load-more-btn--margins Показать еще