.info
  .container
    h1.info__title Информация
    ul.info-list
      li.info-list__item
        a.info-list__link(href='#') Про нас
      li.info-list__item
        a.info-list__link(href='#') Акции
      li.info-list__item
        a.info-list__link(href='#') Доставка и оплата
      li.info-list__item
        a.info-list__link(href='#') Договор оферты
      li.info-list__item
        a.info-list__link(href='#') Политика конфиденциальности
      li.info-list__item
        a.info-list__link(href='#') Положение о Cookie
      li.info-list__item
        a.info-list__link(href='#') Контакты
