.menu-desc
  .container
    ul.menu-desc__list
      li.menu-desc__list__item
        a.menu-desc__list__link(href='#')
          .menu-desc__icon
            i.icon.fish-icon
          .menu-desc__text-cont
            span.menu-desc__title Рыбки
            p.menu-desc__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ...
            .menu-desc__link Подробнее
      li.menu-desc__list__item
        a.menu-desc__list__link(href='#')
          .menu-desc__icon
            i.icon.fish-food-icon
          .menu-desc__text-cont
            span.menu-desc__title Корм
            p.menu-desc__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            .menu-desc__link Подробнее
      li.menu-desc__list__item
        a.menu-desc__list__link(href='#')
          .menu-desc__icon
            i.icon.fish-bowl-icon
          .menu-desc__text-cont
            span.menu-desc__title Аквариумы
            p.menu-desc__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            .menu-desc__link Подробнее
      li.menu-desc__list__item
        a.menu-desc__list__link(href='#')
          .menu-desc__icon
            i.icon.coral-icon
          .menu-desc__text-cont
            span.menu-desc__title Растения
            p.menu-desc__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ...
            .menu-desc__link Подробнее
      li.menu-desc__list__item
        a.menu-desc__list__link(href='#')
          .menu-desc__icon
            i.icon.celsius-icon
          .menu-desc__text-cont
            span.menu-desc__title Оборудование
            p.menu-desc__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ...
            .menu-desc__link Подробнее
      li.menu-desc__list__item
        a.menu-desc__list__link(href='#')
          .menu-desc__icon
            i.icon.starfish-icon
          .menu-desc__text-cont
            span.menu-desc__title Прочее
            p.menu-desc__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            .menu-desc__link Подробнее
