.filters
  .container
    .filters-list
      span.filters-list__text Фильтр:
      ul.filters-list__cont
        li.filters-list__item
          span Пресноводные
        li.filters-list__item
          span Морские
        li.filters-list__item
          span Мелкие
        li.filters-list__item
          span Крупные

    .filters-sort.select-main
      span.filters-sort__text Сортировка:
      select.select
        option(value='от дешевых к дорогим' data-html-text='от дешевых к дорогим' selected) от дешевых к дорогим
        option(value='от дорогих к дешевым' data-html-text='от дорогих к дешевым') от дорогих к дешевым
        option(value='по популярности' data-html-text='по популярности') по популярности
        option(value='по рейтингу' data-html-text='по рейтингу') по рейтингу
