.container
  .catalog-list__heading
    h1.catalog-list__heading-text Рыбки
    .catalog-list__row
      span.catalog-list__items-amount В разделе&nbsp;
        span.catalog-list__items-amount-text 96&nbsp;предложений
