.checkout
  .container
    display: flex
    justify-content: space-between

  &__form
    width: 100%
    max-width: 598px
    margin: 100px 0

  &__title
    margin: 0 0 44px

  &__form-title
    margin: 0 0 30px

  &__form-cont
    display: flex
    margin: 20px 0 0
    input
      &:first-of-type
        margin: 0 20px 0 0

  textarea
    margin: 20px 0 0

  &__options
    max-width: 600px
    margin: 20px 0 0
    display: flex
    justify-content: space-between

  &__option-title
    margin: 0 0 26px
    display: flex
    align-items: center
    i
      margin: 0 12px 0 0
      color: $blue
      font-size: 40px
    span
      color: $black
      font-size: 24px

  &__option
    display: flex
    flex-direction: column
    .radio
      margin: 14px 0 0
      &:first-of-type
        margin: 0