.checkout
  .container
    form.checkout__form
      h1.checkout__title Оформление заказа
      h5.checkout__form-title Ваши данные
      .checkout__form-cont
        input.input(type='text' placeholder='Имя')
        input.input(type='text' placeholder='E-mail')
      .checkout__form-cont
        input.input(type='text' placeholder='Телефон')
        input.input(type='text' placeholder='Адрес доставки')
      textarea.textarea(name='Комментарии' placeholder='Комментарий к заказу')
      .checkout__options
        .checkout__option-cont
          .checkout__option-title
            i.icon.delivery-icon
            span Вариант доставки
          .checkout__option
            label.radio
              input(type='radio' name='Доставка' checked)
              span.radio__text Доставка
            label.radio
              input(type='radio' name='Доставка')
              span.radio__text Доставка
        .checkout__option-cont
          .checkout__option-title
            i.icon.credit-card-icon
            span Варианты оплаты
          .checkout__option
            label.radio
              input(type='radio' name='Оплата' checked)
              span.radio__text На сайте
            label.radio
              input(type='radio' name='Оплата')
              span.radio__text Курьеру

    //- Include Cart block ('.cart')
    include ../common-blocks/cart/block.pug