.checkout
  .container
    form.checkout__form
      h1.checkout__title Оформление заказа
      h5.checkout__form-title Ваши данные
      .checkout__form-cont
        input.input(type='text' placeholder='Имя')
        input.input(type='text' placeholder='E-mail')
      .checkout__form-cont
        input.input(type='text' placeholder='Телефон')
        input.input(type='text' placeholder='Адрес доставки')
      textarea.textarea(name='Комментарии' placeholder='Комментарий к заказу')
      .checkout__options
        .checkout__option-cont
          .checkout__option-title
            i.icon.delivery-icon
            span Вариант доставки
          .checkout__option
            label.radio
              input(type='radio' name='Доставка' checked)
              span.radio__text Доставка
            label.radio
              input(type='radio' name='Доставка')
              span.radio__text Доставка
        .checkout__option-cont
          .checkout__option-title
            i.icon.credit-card-icon
            span Варианты оплаты
          .checkout__option
            label.radio
              input(type='radio' name='Оплата' checked)
              span.radio__text На сайте
            label.radio
              input(type='radio' name='Оплата')
              span.radio__text Курьеру

    .checkout__cart
      h5.checkout__cart-title Корзина
      .checkout__item.product-item
        img.checkout__item-img(src='assets/images/product-img-01.jpg')
        .checkout__item-cont
          span.checkout__item-title Пецилия красная длинная
          div.quantity-block
            button.quantity-arrow.quantity-arrow-minus
            input.product__amount.quantity-num(type='number' value='1' min='1' max='2000')
            button.quantity-arrow.quantity-arrow-plus
          span.product__price 5
      .checkout__item.product-item
        img.checkout__item-img(src='assets/images/product-img-02.jpg')
        .checkout__item-cont
          span.checkout__item-title Пецилия красная длинная
          div.quantity-block
            button.quantity-arrow.quantity-arrow-minus
            input.product__amount.quantity-num(type='number' value='1' min='1' max='2000')
            button.quantity-arrow.quantity-arrow-plus
          span.product__price 5
      .checkout__product.checkout__item-row
        span.checkout__item-subtitle Товар:
        span.product__price 240
      .checkout__delivery.checkout__item-row
        span.checkout__item-subtitle Доставка:
        span.product__price 150
      .checkout__total.checkout__item-row
        span.checkout__item-subtitle Итого:
        span.product__price 390
      button.btn.checkout__btn Оплатить
