.account
  .container
    h1.account__title Личный кабинет
    .account__cont
      //- Include Col-1 block ('.account__col-1')
      include col-1/block.pug

      //- Include Col-2 block ('.account__col-2')
      include col-2/block.pug