.order-history
  span.order-history__title История заказов
  ul.order-history__list
    li.order-history__item
      .order-history__col-1
        .order-history__col
          span.order-history__date 12.10.2019
        .order-history__col
          span.order-history__id 33452
      .order-history__col-2
        .order-history__col
          span.order-history__sum 150
        .order-history__col.view-order-link
          a(href='#').view-order Посмотреть заказ
    li.order-history__item
      .order-history__col-1
        .order-history__col
          span.order-history__date 12.10.2019
        .order-history__col
          span.order-history__id 33452
      .order-history__col-2
        .order-history__col
          span.order-history__sum 150
        .order-history__col.view-order-link
          a(href='#').view-order Посмотреть заказ
    li.order-history__item
      .order-history__col-1
        .order-history__col
          span.order-history__date 12.10.2019
        .order-history__col
          span.order-history__id 33452
      .order-history__col-2
        .order-history__col
          span.order-history__sum 150
        .order-history__col.view-order-link
          a(href='#').view-order Посмотреть заказ