.modal-gallery
  .container
    .modal-gallery__row
      h1.modal-gallery__title О нас
      .swiper-nav.swiper-navigation
        .swiper-button-prev
        .swiper-button-next
    .swiper-container.swiper.swiper-modal-gallery
      .swiper-wrapper
        .swiper-slide
          a.modal-gallery__item(data-fslightbox href='/assets/images/modal-gallery-img-01.jpg')
            img.modal-gallery__img(src='assets/images/modal-gallery-img-01.jpg')

        .swiper-slide
          a.modal-gallery__item(data-fslightbox href='/assets/images/modal-gallery-img-02.jpg')
            img.modal-gallery__img(src='assets/images/modal-gallery-img-02.jpg')

        .swiper-slide
          a.modal-gallery__item(data-fslightbox href='/assets/images/modal-gallery-img-03.jpg')
            img.modal-gallery__img(src='assets/images/modal-gallery-img-03.jpg')

      .swiper-pagination
