mixin modal-gallery(title, img_1, img_2, img_3, btnShare)
  .modal-gallery
    .container
      .modal-gallery__row
        h1.modal-gallery__title= title
        .swiper-nav.swiper-navigation
          .swiper-button-prev
          .swiper-button-next
        if btnShare
          .share
            span Поделиться
            i.icon.share-icon
      .swiper-container.swiper.swiper-modal-gallery
        .swiper-wrapper
          .swiper-slide
            a.modal-gallery__item(data-fslightbox href=''+ img_1 +'')
              img.modal-gallery__img(src=''+ img_1 +'')

          .swiper-slide
            a.modal-gallery__item(data-fslightbox href=''+ img_2 +'')
              img.modal-gallery__img(src=''+ img_2 +'')

          .swiper-slide
            a.modal-gallery__item(data-fslightbox href=''+ img_3 +'')
              img.modal-gallery__img(src=''+ img_3 +'')

        .swiper-pagination