@media (max-width: 1240px)
  .products
    .container
      padding: 0 10px
    &__cont
      .product
        max-width: 100%
        min-width: 290px
        margin: 0 10px
        flex: 3


// @media (max-width: 767px)
//   .products
//     &__row
//       margin: 0 0 24px

//     &__title
//       font-size: 30px
