include ../product/block.pug

.products.products--mt
  .container
    .products__row
      h3.products__title Новинки каталога
      .swiper-nav.swiper-navigation
        .swiper-button-prev
        .swiper-button-next
    .swiper-container.swiper.swiper-products
      .swiper-wrapper
        .swiper-slide
          +product('assets/images/product-img-01.jpg', 'Пецилия красная длинная', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ...', '5')

        .swiper-slide
          +product('assets/images/product-img-02.jpg', 'Пецилия красная', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', '1000')

        .swiper-slide
          +product('assets/images/product-img-03.jpg', 'Пецилия красная', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ...', '251')

        .swiper-slide
          +product('assets/images/product-img-04.jpg', 'Пецилия красная', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet ...', '100000')

      .swiper-pagination
