footer.footer
  .container.footer__cont
    .footer__navs
      nav.footer__nav
        ul.footer__nav-list.footer-menu
          li.footer__nav-list__item
            a.footer__nav-list__link Рыбки
          li.footer__nav-list__item
            a.footer__nav-list__link Аквариумы
          li.footer__nav-list__item
            a.footer__nav-list__link Оборудование
          li.footer__nav-list__item
            a.footer__nav-list__link Корм
          li.footer__nav-list__item
            a.footer__nav-list__link Растения

      nav.footer__nav
        span.footer__nav-title Прочее
        ul.footer__nav-list
          li.footer__nav-list__item
            a.footer__nav-list__link Украшения
          li.footer__nav-list__item
            a.footer__nav-list__link Химия

      nav.footer__nav
        ul.footer__nav-list
          span.footer__nav-title Услуги
          li.footer__nav-list__item
            a.footer__nav-list__link Чистка аквариумов
          li.footer__nav-list__item
            a.footer__nav-list__link Перезапуск
          li.footer__nav-list__item
            a.footer__nav-list__link Оформление

      nav.footer__nav
        ul.footer__nav-list
          span.footer__nav-title Информация
          li.footer__nav-list__item
            a.footer__nav-list__link Про нас
          li.footer__nav-list__item
            a.footer__nav-list__link Доставка и оплата
          li.footer__nav-list__item
            a.footer__nav-list__link Контакты
          li.footer__nav-list__item
            a.footer__nav-list__link Акваблог

    .footer__col
      .footer__search
        input.footer__search__input(type='search' placeholder='Поиск по сайту')
        button.btn-search
          i.icon.search-icon
      .footer__payment
        img.footer__payment(src='assets/images/MasterCard.svg', alt='')
        img.footer__payment(src='assets/images/Visa.svg', alt='')
        img.footer__payment(src='assets/images/Mir.svg', alt='')

  .footer__p-cont
    .container
      p.footer__p
        | Copyright 2019 © ИП Андриянов А.Н. ИНН 320101010101 ОГРН 32010101010 "Барбус". Все права защищены.<br>
        | Все материалы, размещенные на сайте, в том числе фотографии, являются объектами авторского права и защищены законом.<br>
        | Использование, воспроизведение и распространение  в любом объеме информации, размещенной на сайте, возможно только с письменного согласия.

  .author
    span.author__text made with &nbsp;<span class='red'>❤</span>&nbsp; by Roman A. Proskurnin
