.info
  .container
    .info__cont
      ul.info__list
        li.info__col
          .info__title-cont
            i.icon.clock-icon
            h3.info__item-title Режим работы
          ul.info__items
            li.info__item ежедневно с 10 до 19
        li.info__col
          .info__title-cont
            i.icon.map-marker-icon
            h3.info__item-title Контакты
          ul.info__items
            li.info__item Брянск, ул. Литейная, 68 к2
            li.info__item +7 (4832) 37-77-70
            li.info__item barbus-zoo.ru
            li.info__item info@barbus-zoo.ru
        li.info__col.info__col--social
          .info__title-cont
            i.icon.share-empty-icon
            h3.info__item-title Социальные сети
          ul.info__items
            li.info__item
              a(href='#')
                i.icon.vk-icon
              a(href='#')
                i.icon.facebook-icon
              a(href='#')
                i.icon.odnoklassniki-icon
