.popup#popup
  .popup__cont
    button.btn-close
    span.popup__title Заказать звонок
    form.popup__form(name='uekQDls/V4Hl.1uubWpStX0oW6kKNazeUJqt9mCNBBN.i')
      .popup__input-wrapper
        input.input(type='text' name='Имя' placeholder='Ваше имя' required)
        input.input.phone-input(type='tel' name='Телефон' placeholder='Ваш телефон' required)
      .popup__input-wrapper
        input(type='checkbox' class='checkbox' id='checkbox')
        label(for='checkbox') Даю согласие на обработку <br>персональных данных
      button.btn
        span.btn__inner Заказать звонок

  .popup-bg