.product-template
  .container
    .product-template__row
      h1.product-template__title Золотая рыбка
    .product-template__row
      .swiper-container.product-gallery
        .swiper-wrapper
          .swiper-slide
            .product-gallery__img-cont
              img.product-gallery__img(src='assets/images/product-img-04.jpg')
          .swiper-slide
            .product-gallery__img-cont
              img.product-gallery__img(src='assets/images/product-img-01.jpg')
          .swiper-slide
            .product-gallery__img-cont
              img.product-gallery__img(src='assets/images/product-img-03.jpg')
        .swiper-container.product-gallery-thumbs
          .swiper-wrapper
            .swiper-slide
              img.product-gallery-thumbs__img(src='assets/images/product-img-04.jpg')
            .swiper-slide
              img.product-gallery-thumbs__img(src='assets/images/product-img-01.jpg')
            .swiper-slide
              img.product-gallery-thumbs__img(src='assets/images/product-img-03.jpg')
      .product-tamplate__info
        .product__row
          span.product__price.product-tamplate__price 100000
          span.product__price-sign &nbsp;₽
