.auth
  .container
    .auth__cont
      h1.auth__title Восстановление пароля
      form.auth__form
        input.input(type='text' placeholder='E-mail')
        button.btn.btn--empty
          span.btn__inner Восстановить
        .auth__links
          a.link Вход
          a.link Регистрация