.route
  .container
    .route__cont
      .route__text-info
        h1.route__title Контакты
        h2.route__subtitle Как до нас добраться?

        .route__text-cont
          span.route__title--small
            i.icon.car-icon
            | На автомобиле
          p.route__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
          
        .route__text-cont
          span.route__title--small
            i.icon.bus-icon
            | На общественном транспорте
          p.route__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.

      .map
        a.map__location(href='#')
          img(src='assets/images/location.png', alt='Наш адресс')
