.reg
  .container
    .reg__cont
      h1.reg__title Регистрация
      form.reg__form
        .reg__col-1
          input.input(type='text' placeholder='Ваше имя')
          input.input(type='password' placeholder='Пароль')
          input.input(type='password' placeholder='Повтоите пароль')
        .reg__col-2
          input.input(type='text' placeholder='Ваш телефон')
          input.input(type='text' placeholder='E-mail')
          .btn-cont
            button.btn.btn--empty
              span.btn__inner Регистрация
            .reg__links
              a.link Войти
              a.link Забыли пароль?