mixin offer-dop(offerDopItems)
  .offer.offer-dop
    .container
      ul.offer__list
        li.offer__item
          .offer__empty
            h3.offer__title Дополнительно <br>предлагаем:
        for item in offerDopItems.data
          li.offer__item
            a(class='offer__link '+ item.img +'')
              .offer__icon
                i(class='icon '+ item.icon +'') 
              if item.text
                h5= item.text
