.account-fields
  .input-wrapper
    span.input-title Имя:
    .input-cont
      input.input(type='text' placeholder='Иван')
      .btn-edit
        i.icon.pencil-icon
  .input-wrapper
    span.input-title Телефон:
    .input-cont
      input.input(type='text' placeholder='+7 (954) 600-08-80')
      .btn-edit
        i.icon.pencil-icon
  .input-wrapper
    span.input-title Адрес:
    .input-cont
      input.input(type='text' placeholder='г. Брянск, ул. Красноармейская, д.100, кв.12')
      .btn-edit
        i.icon.pencil-icon
  .input-wrapper
    span.input-title Комментарий:
    .input-cont
      input.input(type='text' placeholder='Код домофона 12#')
      .btn-edit
        i.icon.pencil-icon