.services-list
  margin: 0 0 98px
  padding: 0
  display: flex
  justify-content: space-between

.services-item
  width: 392px
  height: 392px
  min-width: 392px
  min-height: 392px
  display: flex
  align-items: center
  justify-content: center
  background-color: #EAEEEF
  border-radius: 100%
  overflow: hidden

  &__title
    color: #FFFFFF
    font-size: 26px
    text-decoration: none

.services-link
  display: block
  text-decoration: none