.container
  ul.services-list
    li.services-item
      a.services-link(href='#')
        .services-link__img.clean
          img(src='assets/images/services/clean-02.jpg')
        .services-item__icon
          i.icon.clean-icon
        h3.services-item__title Чистка аквариумов
    li.services-item
      a.services-link(href='#')
        .services-link__img.restart
          img(src='assets/images/services/restart-02.jpg')
        .services-item__icon
          i.icon.stingray-icon
        h3.services-item__title Перезапуск аквариумов
    li.services-item
      a.services-link(href='#')
        .services-link__img.decor
          img(src='assets/images/services/decor-02.jpg')
        .services-item__icon
          i.icon.fish-tank-icon
        h3.services-item__title Оформление аквариумов