.container
  ul.services-list
    li.services-item
      a.services-link(href='#')
        h3.services-item__title Чистка аквариумов
    li.services-item
      a.services-link(href='#')
        h3.services-item__title Перезапуск аквариумов
    li.services-item
      a.services-link(href='#')
        h3.services-item__title Оформление аквариумов