.map
  .container.map__cont
    .map__desc
      h3.map__title <span class='blue bold'>Барбус</span> — <br>мир акварюмиста
      p.map__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
    a.map__location(href='#')
      img(src='assets/images/location.png', alt='Наш адресс')
