.auth
  .container
    .auth__cont
      h1.auth__title Авторизация
      form.auth__form
        input.input(type='text' placeholder='Ваше имя')
        input.input(type='text' placeholder='Ваш телефон')
        button.btn.btn--empty
          span.btn__inner Вход
        .auth__links
          a.link Регистрация
          a.link Забыли пароль?