.about-info
  .container
    .about-info__cont
      ul.about-info__list
        li.about-info__col
          .about-info__title-cont
            i.icon.clock-icon
            h3.about-info__item-title Режим работы
          ul.about-info__items
            li.about-info__item ежедневно с 10 до 19
        li.about-info__col
          .about-info__title-cont
            i.icon.map-marker-icon
            h3.about-info__item-title Контакты
          ul.about-info__items
            li.about-info__item Брянск, ул. Литейная, 68 к2
            li.about-info__item +7 (4832) 37-77-70
            li.about-info__item barbus-zoo.ru
            li.about-info__item info@barbus-zoo.ru
        li.about-info__col
          .about-info__title-cont
            i.icon.share-empty-icon
            h3.about-info__item-title Социальные сети
