.main-slider
  .container
    .swiper-container.main-swiper
      .swiper-wrapper
        .swiper-slide
          .main-slider__slide
            .main-slider__text-cont
              h2.main-slider__title
                | Tetra «EasyBalance»<br>
                | <span class='gray'>в подарок</span>
              p.main-slider__p В нашем магазине проходит акция! Вы можете приобрести аквариум объемом от 20 литров и в подарок получить Tetra «EasyBalance» 100 мл.
              a.btn.main-slider__btn(href="#") Подробнее
            .main-slider__img-cont
              img.main-slier__img(src='assets/images/main-slider-img-01.png', alt='Аквариум-1')
        .swiper-slide
          .main-slider__slide
            .main-slider__text-cont
              h2.main-slider__title
                | Tetra «EasyBalance»<br>
                | <span class='gray'>в подарок</span>
              p.main-slider__p В нашем магазине проходит акция! Вы можете приобрести аквариум объемом от 20 литров и в подарок получить Tetra «EasyBalance» 100 мл.
              a.btn.main-slider__btn(href="#") Подробнее
            .main-slider__img-cont
              img.main-slier__img(src='assets/images/main-slider-img-01.png', alt='Аквариум-2')
        .swiper-slide
          .main-slider__slide
            .main-slider__text-cont
              h2.main-slider__title
                | Tetra «EasyBalance»<br>
                | <span class='gray'>в подарок</span>
              p.main-slider__p В нашем магазине проходит акция! Вы можете приобрести аквариум объемом от 20 литров и в подарок получить Tetra «EasyBalance» 100 мл.
              a.btn.main-slider__btn(href="#") Подробнее
            .main-slider__img-cont
              img.main-slier__img(src='assets/images/main-slider-img-01.png', alt='Аквариум-3')
        .swiper-slide
          .main-slider__slide
            .main-slider__text-cont
              h2.main-slider__title
                | Tetra «EasyBalance»<br>
                | <span class='gray'>в подарок</span>
              p.main-slider__p В нашем магазине проходит акция! Вы можете приобрести аквариум объемом от 20 литров и в подарок получить Tetra «EasyBalance» 100 мл.
              a.btn.main-slider__btn(href="#") Подробнее
            .main-slider__img-cont
              img.main-slier__img(src='assets/images/main-slider-img-01.png', alt='Аквариум-3')
        .swiper-slide
          .main-slider__slide
            .main-slider__text-cont
              h2.main-slider__title
                | Tetra «EasyBalance»<br>
                | <span class='gray'>в подарок</span>
              p.main-slider__p В нашем магазине проходит акция! Вы можете приобрести аквариум объемом от 20 литров и в подарок получить Tetra «EasyBalance» 100 мл.
              a.btn.main-slider__btn(href="#") Подробнее
            .main-slider__img-cont
              img.main-slier__img(src='assets/images/main-slider-img-01.png', alt='Аквариум-3')

      .swiper-pagination