extends template.pug

block content
  //- Include Header block ('.header')
  include /common-blocks/header/block.pug


  - var page = 'akvablog-page'
  div(class='content '+ page +'')
    //- Breadcrumb block ('.breadcrumb') data
    -
      const links = {
        data: [{
          text: 'Главная',
          href: '#',
          active: true
        },
        {
          text: 'Блог',
          href: '#'
        }]
      }

    //- Include Breadcrumb block ('.breadcrumb')
    include /common-blocks/breadcrumb/block.pug
    +breadcrumb(links)

    //- Include Heading block ('.catalog-list__heading')
    include /common-blocks/heading/block.pug
    +heading('Акваблог', '130\u00A0статей')

    //- Include Filters block ('.filters')
    include /catalog-list/filters/block.pug

    //- Include Akvablog-articles block ('.akvablog-articles')
    include /akvablog/articles/block.pug


  //- Include Popup block ('.popup')
  include /common-blocks/popup/block.pug

  //- Include Footer block ('.footer')
  include /common-blocks/footer/block.pug
