extends template.pug

block content
  //- Include Header block ('.header')
  include /common-blocks/header/block.pug


  - var page = 'article-page'
  div(class='content '+ page +'')
    //- Breadcrumb block ('.breadcrumb') data
    -
      const links = {
        data: [{
          text: 'Главная',
          href: '#',
          active: true
        },
        {
          text: 'Акваблог',
          href: '#',
          active: true
        },
        {
          text: 'Барбусс одноштриховый',
          href: '#'
        }]
      }

    //- Include Breadcrumb block ('.breadcrumb')
    include /common-blocks/breadcrumb/block.pug
    +breadcrumb(links)

    //- Include Modal-gallery block ('.modal-gallery')
    include /common-blocks/modal-gallery/block.pug
    +modal-gallery(
      'Барбусс одноштриховый',
      'assets/images/modal-gallery/modal-gallery-img-07.jpg',
      'assets/images/modal-gallery/modal-gallery-img-08.jpg',
      'assets/images/modal-gallery/modal-gallery-img-09.jpg',
      true
    )

    //- Include Content block ('.article-content')
    include /article/content/block.pug


  //- Include Popup block ('.popup')
  include /common-blocks/popup/block.pug

  //- Include Footer block ('.footer')
  include /common-blocks/footer/block.pug
