extends template.pug

block content
  //- Include Header block ('.header')
  include /common-blocks/header/block.pug


  - var page = 'catalog'
  div(class='content '+ page +'')
    //- Breadcrumb block ('.breadcrumb') data
    -
      const links = {
        data: [{
          text: 'Главная',
          href: '#',
          active: true
        },
        {
          text: 'Каталог',
          href: '#'
        }]
      }

    //- Include Breadcrumb block ('.breadcrumb')
    include /common-blocks/breadcrumb/block.pug
    +breadcrumb(links)


    //- Include Catalog-desc block ('.catalog-desc')
    include /catalog/catalog-desc/block.pug


    //- Offer block ('.offer') data
    -
      const offerItems = {
        data: [{
          text:  'Оборудование',
          href:  '#',
          icon:  'celsius-icon',
          img:   'equipment'
        },
        {
          text:  'Рыбки',
          href:  '#',
          icon:  'fish-icon',
          img:   'fishes'
        },
        {
          text:  'Корм',
          href:  '#',
          icon:  'fish-food-icon',
          img:   'feed'
        },
        {
          text:  'Аквариумы',
          href:  '#',
          icon:  'fish-bowl-icon',
          img:   'aquariums'
        },
        {
          text:  'Растения',
          href:  '#',
          icon:  'coral-icon',
          img:   'plants'
        }]
      }

    //- Include Offer block ('.offer')
    include /catalog/offer/block.pug
    +offer(offerItems)


    //- Offer-dop block ('.offer-dop') data
    -
      const offerDopItems = {
        data: [{
          text:  'Украшения',
          href:  '#',
          icon:  'shell-icon',
          img:   'decoration'
        },
        {
          text:  'Химия',
          href:  '#',
          icon:  'chemistry-icon',
          img:   'chemistry'
        }]
      }

    //- Include Offer-dop block ('.offer-dop')
    include /catalog/offer-dop/block.pug
    +offer-dop(offerDopItems)


    //- Services block ('.services') data
    -
      const services = {
        data: [{
          text:  'Чистка аквариумов',
          href:  '#',
          icon:  'clean-icon',
          img:   'clean'
        },
        {
          text:  'Перезапуск аквариумов',
          href:  '#',
          icon:  'stingray-icon',
          img:   'restart'
        },
        {
          text:  'Оформление аквариумов',
          href:  '#',
          icon:  'fish-tank-icon',
          img:   'decor'
        }]
      }

    //- Include Services block ('.services')
    include /catalog/services/block.pug
    +service(services)


  //- Include Popup block ('.popup')
  include /common-blocks/popup/block.pug

  //- Include Footer block ('.footer')
  include /common-blocks/footer/block.pug
