extends template.pug


block content
  //- Include Header block ('.header')
  include /common-blocks/header/block.pug


  - var page = 'contacts-page'
  div(class='content '+ page +'')
    //- Breadcrumb block ('.breadcrumb') data
    -
      const links = {
        data: [{
          text: 'Главная',
          href: '#',
          active: true
        },
        {
          text: 'Информация',
          href: '#',
          active: true
        },
        {
          text: 'Контакты',
          href: '#'
        }]
      }

    //- Include Breadcrumb block ('.breadcrumb')
    include /common-blocks/breadcrumb/block.pug
    +breadcrumb(links)


    //- Include Route block ('.route')
    include /contacts/route/block.pug


    //- Include Info block ('.info')
    include /common-blocks/info/block.pug


    //- Include Instagram block ('.insta')
    include /common-blocks/insta/block.pug


  //- Include Popup block ('.popup')
  include /common-blocks/popup/block.pug

  //- Include Footer block ('.footer')
  include /common-blocks/footer/block.pug
