extends template.pug

block content
  //- Include Header block ('.header')
  include assets/blocks/common-blocks/header/block.pug


  - var page = 'delivery-page'
  div(class='content '+ page +'')
    //- Breadcrumb block ('.breadcrumb') data
    -
      const links = {
        data: [{ 
          text: 'Главная',
          href: '#',
          active: true
        },
        {
          text: 'Информация',
          href: '#',
          active: true
        },
        {
          text: 'Доставка и оплата',
          href: '#'
        }]
      }

    //- Include Breadcrumb block ('.breadcrumb')
    include assets/blocks/common-blocks/breadcrumb/block.pug
    +breadcrumb(links)


    //- Include Delivery block ('.delivery')
    include assets/blocks/delivery/block.pug


  //- Include Footer block ('.footer')
  include assets/blocks/common-blocks/footer/block.pug
