extends template.pug

block content
  //- Include Header block ('.header')
  include assets/blocks/common-blocks/header/block.pug


  - var page = 'error-page'
  div(class='content '+ page +'')


    //- Include Message block ('.message')
    include assets/blocks/common-blocks/message/block.pug
    +message('Упс!\nОшибка 404')


  //- Include Popup block ('.popup')
  include assets/blocks/common-blocks/popup/block.pug

  //- Include Footer block ('.footer')
  include assets/blocks/common-blocks/footer/block.pug