extends template.pug

block content
  //- Include Header block ('.header')
  include assets/blocks/common-blocks/header/block.pug

  .content

  //- Include Header block ('.footer')
  include assets/blocks/common-blocks/footer/block.pug
