extends template.pug

block content
  //- Include Header block ('.header')
  include /common-blocks/header/block.pug


  - var page = 'search-page'
  div(class='content '+ page +'')

    //- Include Search block ('.search')
    include /search/block.pug


  //- Include Popup block ('.popup')
  include /common-blocks/popup/block.pug

  //- Include Footer block ('.footer')
  include /common-blocks/footer/block.pug