extends template.pug

block content
  //- Include Header block ('.header')
  include assets/blocks/common-blocks/header/block.pug


  - var page = 'services-page'
  div(class='content '+ page +'')
    //- Breadcrumb block ('.breadcrumb') data
    -
      const links = {
        data: [{
          text: 'Главная',
          href: '#',
          active: true
        },
        {
          text: 'Услуги',
          href: '#'
        }]
      }

    //- Include Breadcrumb block ('.breadcrumb')
    include assets/blocks/common-blocks/breadcrumb/block.pug
    +breadcrumb(links)


    //- Include Services description block ('.services-desc')
    include assets/blocks/services/desc/block.pug


    //- Include Services list block ('.services-list')
    include assets/blocks/services/list/block.pug


  //- Include Popup block ('.popup')
  include assets/blocks/common-blocks/popup/block.pug

  //- Include Footer block ('.footer')
  include assets/blocks/common-blocks/footer/block.pug