extends template.pug

block content
  //- Include Header block ('.header')
  include assets/blocks/common-blocks/header/block.pug


  - var page = 'services-page'
  div(class='content '+ page +'')
    //- Breadcrumb block ('.breadcrumb') data
    -
      const links = {
        data: [{
          text: 'Главная',
          href: '#',
          active: true
        },
        {
          text: 'Услуги',
          href: '#',
          active: true
        },
        {
          text: 'Чистка аквариумов',
          href: '#'
        }]
      }

    //- Include Breadcrumb block ('.breadcrumb')
    include assets/blocks/common-blocks/breadcrumb/block.pug
    +breadcrumb(links)


    //- Include Modal-gallery block ('.modal-gallery')
    include assets/blocks/common-blocks/modal-gallery/block.pug
    +modal-gallery('Чистка аквариумов', 'assets/images/modal-gallery-img-04.jpg', 'assets/images/modal-gallery-img-05.jpg', 'assets/images/modal-gallery-img-06.jpg')


  //- Include Footer block ('.footer')
  include assets/blocks/common-blocks/footer/block.pug
