mixin breadcrumb(links)
  .breadcrumb
    .container
      ul.breadcrumb__list
        for link in links.data
          li.breadcrumb__item
            if link.active
              a.breadcrumb__link.breadcrumb__link--active(data-src=''+ link.href +'')= link.text
            else
              a.breadcrumb__link(data-src=''+ link.href +'')= link.text
